//Pasar a _tarjetas.scss de la carpeta componentes

.cartaIzquierda{
    position: relative;
    top: -20vw;
    left: 10px;
    width: 30rem;
    @media screen and (max-width:768px) {
        top:10px;
        left:0;
        width: 100%;
    }
}
.cartaDerecha{
    position: relative;
    top: -20vw;
    right: -10px;
}
.tarjeta, .tarjetaManada, .tarjetaScout, .tarjetaCaminante, .tarjetaRover{
    border: 5px solid $color-principal;
    border-radius: 8px;
    padding:5px;
    width: 20vw;
    transition: 500ms;
}
.tarjeta:hover{
    background-color: lighten($color-secundario,30%);
    transform: scale(1.03);
}
.tarjetaManada{
    background-color: lighten(yellow,20%);
}
.tarjetaManada:hover{
    background-color: darken(yellow,20%);
    transform: scale(1.03);
    color:white;
}
.tarjetaScout{
    background-color: lightgreen;
}
.tarjetaScout:hover{
    background-color: green;
    transform: scale(1.03);
    color:white;
}
.tarjetaCaminante{
    background-color: skyblue;
}
.tarjetaCaminante:hover{
    background-color: blue;
    transform: scale(1.03);
    color:white;
}
.tarjetaRover{
    background-color: pink;
}
.tarjetaRover:hover{
    background-color: red;
    transform: scale(1.03);
    color:white;
}


//fondos
.bgSecundario{
    background-color: lighten($color-secundario,45%);
}
.parallax {
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}
.parallax1{
    background-image: url(../../img/parallax1.svg);
    background-size:fill;
}
.parallax2{
    background-image: url(../../img/parallax2.svg);
    background-size:fill;
}
.parallax3{
    background-image: url(../../img/parallax3.svg);
    background-size:fill;
}
.ocultar768{
    visibility: visible;
    @media screen and (max-width:768px){
            display:none;
    }
}

