//definición de colores

$color-principal: green;
$color-secundario: yellow;



//////mapas

//definición de fuentes

$fuentes:(
    f1: arial,
    f2: helvetica,
    f3: sans-serif,
);


//tamaños de fuentes
$textos:(
    th1: 3rem,
    th2: 2.5rem,
    th3: 2.25rem,
    th4: 2rem,
    th5: 1.9rem,
    th6: 1.8rem,
    tp: 1.7rem,
);