//definición de colores

$color-principal: green;
$color-secundario: yellow;



//////mapas

//definición de fuentes

$fuentes:(
    f1: arial,
    f2: helvetica,
    f3: sans-serif,
);


//tamaños de fuentes
$textos:(
    th1: 2.25rem,
    th2: 2.2rem,
    th3: 2.1rem,
    th4: 1.9rem,
    th5: 1.85rem,
    th6: 1.8rem,
    tp: 1.7rem,
);