header{
    background-color: $color-principal;
    color: white;
    div{
        padding:5px;
        img{
            border-radius: 50%;
        }
        h1{
            display: inline-block;
            padding:0 15px;
        }
    }

    nav{
        display: inline-block;
        padding:5px;
        div{
            a{
                color: white;
            }
            button{
                span{

                }
            }
            div{
                div{
                    a{

                    }
                }
            }
        }
    }
}