section{
    padding: 15px 0;
    h2{
        font-weight: bold;
        padding:10px 0;
    }
    div{
        div{
            div{
                img{
                    width:100%;
                    @media screen and (max-width:768px) {
                        width:100%;                        
                    }
                }
            }
        }
    }
}
